@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));
@theme {
  --breakpoint-desktop: 48rem /* Same as breakpoint-md */;
  --width-content-max: 90rem;
  --width-content-xl: 75rem;
}
@theme inline {
  --color-background: #ffffff;
  --color-foreground: #000000;
  /* --font-sans: var(--font-geist-sans);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono); */
  --font-baskerville: var(--font-base-libre-baskerville);
  --font-inter: var(--font-base-inter);
  --font-oswald: var(--font-base-oswald);
  --font-lora: var(--font-base-lora);
  --color-muted: #a4a4a4;
  --color-header: #ffffff;
  --color-accent-700: #36699c;
  /* Slate (Background and state colors) */
  --color-brand-slate-50: #f8fafc;
  --color-brand-slate-100: #f1f5f9;
  --color-brand-slate-200: #e2e8f0;
  --color-brand-slate-300: #cad5e2;
  --color-brand-slate-400: #90a1b9;
  --color-brand-slate-500: #62748e;
  --color-brand-slate-600: #45556c;

  /* Gray (Font colors) */
  --color-brand-gray-50: #f9fafb;
  --color-brand-gray-100: #f3f4f6;
  --color-brand-gray-200: #e5e7eb;
  --color-brand-gray-300: #d1d5db;
  --color-brand-gray-400: #99a1af;
  --color-brand-gray-500: #6a7282;
  --color-brand-gray-600: #4a5565;
  --color-brand-gray-700: #364153;
  --color-brand-gray-800: #1e2939; /* Primary */
  --color-brand-gray-900: #101828;

  /* Brand Red */
  --color-brand-red-50: #fef2f2;
  --color-brand-red-100: #ffe2e2;
  --color-brand-red-200: #ffc9c9;
  --color-brand-red-300: #ffa2a2;
  --color-brand-red-400: #ff6467;
  --color-brand-red-500: #fb2c36;
  --color-brand-red-600: #e7000b;
  --color-brand-red-700: #962f30;
  --color-brand-red-800: #8f1c1e;
  --color-brand-red-900: #651415;

  /* Brand Blue (Accent colors) */
  --color-brand-blue-50: #f4f9ff;
  --color-brand-blue-100: #ddeeff;
  --color-brand-blue-200: #c5e2ff;
  --color-brand-blue-300: #add6ff;
  --color-brand-blue-400: #96caff;
  --color-brand-blue-500: #71a9e0;
  --color-brand-blue-600: #5187be;
  --color-brand-blue-700: #36699c;
  --color-brand-blue-800: #204d7a;
  --color-brand-blue-900: #103255;

  /* Green (Success colors) */
  --color-brand-green-50: #ecfdf5;
  --color-brand-green-200: #a4f4cf;
  --color-brand-green-500: #00bc7d;
  --color-brand-green-800: #008045;
  /* Test value */
  /* --color-header: #c5c5c5; */
  --font-heading: var(--font-inter);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-brand-red: var(--color-brand-red-900);
  --color-brand-blue: var(--color-brand-blue-900);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
}

@layer base {
  body {
    @apply font-inter;
  }

  * {
    @apply border-border outline-ring/50;
  }
  html {
    @apply font-sans;
  }
}

@layer components {
  /* Headings */

  .body-base {
    @apply text-base leading-relaxed mb-4;
  }
  .body-lg {
    @apply text-lg leading-relaxed mb-5;
  }
  .body-sm {
    @apply text-sm leading-relaxed mb-3;
  }

  .lead {
    @apply text-lg  leading-relaxed mb-5;
  }
  .link {
    @apply underline cursor-pointer;
  }
  .caption {
    @apply text-sm text-muted leading-snug;
  }

  ol.nested-list {
    @apply list-none;
    counter-reset: item;
  }

  ol.nested-list li {
    counter-increment: item;
  }

  /* ol.nested-list li::before {
    content: counters(item, ".") ". ";
    @apply mr-2;
  } */
  ol.nested-list li::marker {
    content: counters(item, ".") ". ";
  }
}

:root {
  --brand-red: oklch(0.3291 0.108 22.11);
  --brand-blue: oklch(0.3136 0.0675 258.82);
  --header-height-mobile: 4.5rem;
  --header-height-desktop: 5.5rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --brand-red: oklch(0.3291 0.108 22.11);
  --brand-blue: oklch(0.3136 0.0675 258.82);
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme {
  --animate-accordion-down: accordion-down 0.25s ease-out;
  --animate-accordion-up: accordion-up 0.25s ease-out;
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}
@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
